
.navbar-nav{
    font-size: 20px;
    margin-left: 200px;
}
.nav-item{
    margin-left: 50px;
}

@media (min-width:300px) and (max-width:700px){
    .navbar-toggler{
        margin-left: 300px;
    }
    .navbar-nav{
        margin-left: 15px;
        text-align: center;
    }
}


